html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_container {
    background-color:#171717;
    color: white;
    width: 400px;
}

.hero {
    width: 100%;
}

.btn-container,
.movie-info,
.tags {
    display: flex;
    justify-content: space-between;
}

li:first-child {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

.movie_info {
    padding: 1em;
}

button {
    border: 1px solid black;
    background: lightgray;
    filter: invert(1);
    border-radius: 50%;
    padding: 1em;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
}

button:hover,
button:focus {
    background-color: darkgray;
}

.movie-info {
    justify-content: start;
}

.duration {
    padding-top: 0.5em;
    padding-left: 1em;
}

.rating {
    color: limegreen;
    font-weight: bold;
    padding-top: 0.5em;
    padding-right: 1em;
}

.certification {
    background-color: red;
    padding: 0.5em;
    border-radius: 50%;
    border: 1px solid white;
}